* {
    margin: 0;
}

.header-modal-window {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px 20px;
    align-items: center;
    border-bottom: 4px solid rgb(24, 202, 233);
}

.text-calendar-header {
    font-size: 17px;
    font-family: sans-serif;
}

.number-calendar {
    padding: 0 10px;
    background-color: orange;
    font-size: 20px;
    border-radius: 4px;
}

.number {
    padding-bottom: 0px;
}

.month {
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 6%;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.days {
    height: 50px;
}

.wrapper-calendar-table {
    display: flex;
    justify-content: center;
}

.week-days {
    height: 50px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.table-days {
    margin-bottom: 20px;
    color: rgb(133, 133, 133);
    font-family: sans-serif;
}

.no {
    color: gray;
}

.modal-window {
    padding-bottom: 60px;
}

.hidden {
    visibility: hidden;
}

.btn-day {
    height: 30px;
    width: 40px;
    border: none;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
}

.btn-day:hover,
.btn-day.active {
    background-color: rgb(24, 202, 233);
    color: white;
}

.size {
    font-weight: 300;
}

.day-table {
    font-family: sans-serif;
}

.one {
    margin-top: 15px;
}

.two {
    margin-top: 15px;
}

@media only screen and (min-width: 760px) {
    .size {
        font-size: 28px;
    }
}

@media only screen and (min-width: 700px) {
    .size {
        font-size: 24px;
    }
}

@media only screen and (min-width: 560px) {
    .size {
        font-size: 22px;
    }
}

@media only screen and (min-width: 500px) {
    .size {
        font-size: 20px;
    }
    .krestik {
        width: 20px;
        height: 20px;
    }
    .number-calendar {
        padding: 2px 12px;
        font-size: 20px;
    }
    .table-days,
    .days-month-1,
    .days-month-2 {
        width: 90%;
    }
    .month {
        margin-left: 10%;
    }
    .number {
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 450px) {
    .size {
        font-size: 16px;
    }
    .text-calendar-header {
        font-size: 22px;
        font-family: sans-serif;
    }
    .table-days,
    .days-month-1,
    .days-month-2 {
        width: 90%;
    }
    .month {
        margin-left: 10%;
    }
    .krestik {
        width: 17px;
        height: 17px;
    }
}

@media only screen and (min-width: 400px) {
    .size {
        font-size: 16px;
    }
}

@media only screen and (min-width: 350px) {
    .size {
        font-size: 15px;
    }
    .number {
        padding-bottom: 3px;
    }
    .number-calendar {
        padding: 0 9px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 349px) {
    .size {
        font-size: 15px;
    }
    .number-calendar {
        padding: 0 9px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 600px) {
    .size {
        font-size: 19px;
    }
    .table-days,
    .days-month-1,
    .days-month-2 {
        width: 80%;
    }
    .month {
        margin-left: 13.6%;
    }
}